.loginBtn {
    background-color: #35871c9a;
    padding: 8px 32px;
    border: #dfecea;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s ease;
}

.loginBtn:hover {
    color: #dfecea;
    background-color: #1e5d209a;
}

.form {
    width: 400px;
    margin: auto;
    background-color: #f2a8a8;
    padding: 25px;
}

.form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.tittle {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #313131;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#root{
   width: 100%;
   min-height: 100vh;
   background-image: linear-gradient(40deg,#202020,tomato);
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white; 
}
.calender{
    height: 200px;
    width: 200px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.left,.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    
}
.right{
    width: 80%;
    background: #f4351e;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    
}
.left{
    width: 20%;
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    padding: 12px;
    margin: 2px;
    
}
#date{
    font-size: 80px;
    line-height: 90px;
}
#month{
   font-size: 20px;
}
input{
    margin-bottom: 10px;
    padding: 10px;
    width: 85%;
}
button{
    background: #ddffdf;
    border: none;
    padding: 10px 15px;
    border: 2px solid red;
    font-weight: bold;
    width: 90%;
}
.event-form{
    background: burlywood;
    padding: 10px;
    width: 20%;  
}
textarea{
    width: 90%;
    margin-bottom: 10px;
}
.btn {
    background-color: #dfecea9a;
    padding: 8px 32px;
    border: #dfecea;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c8e1dd9a;
}