input{
    margin-bottom: 10px;
    padding: 10px;
    width: 85%;
}
button{
    background: #ddffdf;
    border: none;
    padding: 10px 15px;
    border: 2px solid red;
    font-weight: bold;
    width: 90%;
}
.event-form{
    background: burlywood;
    padding: 10px;
    width: 20%;  
}
textarea{
    width: 90%;
    margin-bottom: 10px;
}